<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FINALproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBHandler</display-name>
    <servlet-name>DBHandler</servlet-name>
    <servlet-class>hero.DBHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBHandler</servlet-name>
    <url-pattern>/DBHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCar</display-name>
    <servlet-name>SaveCar</servlet-name>
    <servlet-class>hero.SaveCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCar</servlet-name>
    <url-pattern>/SaveCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCar</display-name>
    <servlet-name>ViewCar</servlet-name>
    <servlet-class>hero.ViewCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCar</servlet-name>
    <url-pattern>/ViewCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCar</display-name>
    <servlet-name>AddCar</servlet-name>
    <servlet-class>hero.AddCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCar</servlet-name>
    <url-pattern>/AddCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCar</display-name>
    <servlet-name>DeleteCar</servlet-name>
    <servlet-class>hero.DeleteCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCar</servlet-name>
    <url-pattern>/DeleteCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCar</display-name>
    <servlet-name>UpdateCar</servlet-name>
    <servlet-class>hero.UpdateCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCar</servlet-name>
    <url-pattern>/UpdateCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCar2</display-name>
    <servlet-name>UpdateCar2</servlet-name>
    <servlet-class>hero.UpdateCar2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCar2</servlet-name>
    <url-pattern>/UpdateCar2</url-pattern>
  </servlet-mapping>
</web-app>